<!DOCTYPE html>
<html lang="en" data-th-replace="~{fragments/skeleton::layout('Toast', 'home', ~{this::#toast_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="toast_content" class="ui segment">

    <form data-th-action="@{/toast}" class="ui form" method="post">
        <input class="ui primary button" type="submit" value="Show toast">
    </form>


    <script data-th-if="${toast}" data-th-inline="javascript">

        const toastClass = /*[[${toast.clazz}]]*/'';
        const toastTitile = /*[[${toast.title}]]*/'';
        const toastMessage = /*[[${toast.message}]]*/'';

        $.toast({
            title: toastTitile,
            class: toastClass,
            message: toastMessage
        })
        ;
    </script>

</div>

</body>
</html>