<!DOCTYPE html>
<html lang="en" data-th-replace="~{fragments/skeleton::layout('Spring 2 prod', 'user', ~{this::#user_content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="user_content">
  <p>Welcome <span class="ui red text" data-sec-authentication="name"></span></p>
    <p>Upisali ste age: <span data-th-text="${age}"></span></p>
    <p data-th-if="${visina}">Upisali ste visinu: <span data-th-text="${visina}"></span></p>
    <p data-th-unless="${visina}">Niste upisali visinu</p>
</div>

</body>
</html>